[defaults]
host_key_checking = False
inventory = hosts.ini
timeout = 120
gathering = smart

[ssh_connection]
retries = 5
pipelining = False
ssh_args = -o ControlMaster=no -o ControlPath=none -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=60 -o ServerAliveInterval=15 -o ServerAliveCountMax=5
